<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/main.css') }}">

</head>

<body>
    <ul class="h1">
        <li><a>HOME</a></li>
        <li><a href="/patients">PATIENTS</a></li>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/login">LOGIN</a></li>
    </ul>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <center>
        <h1 style="font-size:90px;color:red">Hospital Resource Management</h1>
    </center>
</body>

</html>