<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/main.css') }}">

</head>

<body>
    <ul class="h1">
        <li><a>HOME</a></li>
        <li><a>ABOUT US</a>
        </li>
        <li><a>REGISTER</a>
            <ul>
                <li><a href="reg_donor.html">Resource</a></li>
                <li><a href="/patients">Patients</a></li>
                <li><a href="reg_rec.html">Staff</a></li>
            </ul>
        </li>

        <li><a>LOGIN</a>
            <ul>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </li>
    </ul>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <center>
        <h1 style="font-size:90px;color:red">Resource Management</h1>
    </center>
</body>

</html>