<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style/main.css') }}">

</head>

<body>
    <ul class="h1">
        <li><a>HOME</a></li>
        <!-- <li><a href="/patients"></a></li> -->
        <select
            style="float: left; width: 200px; height: 40px; background-color: black; color: white; opacity:.8; line-height:40px; text-align: center; font-size: 15px; margin-right: 2px;"
            onChange="window.location.href=this.value">
            <option style="text-decoration:none; color: white; display: block;" value="/wardType">Ward Type</option>
            <option style="text-decoration:none; color: white; display: block;" value="/Stay">Stay</option>
        </select>
        <li><a href="/register">REGISTER</a></li>
        <li><a href="/login">LOGIN</a></li>
    </ul>
    </br></br></br></br></br></br></br></br></br></br></br></br></br></br>
    <center>
        <h1 style="font-size:90px;color:red">Hospital Resource Management</h1>
    </center>
</body>

</html>